<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Clothes shop</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
</head>
<body>
<div
        th:replace="fragments/navbar :: navbar">
    Navbar
</div>
<div class="container">
    <h2 class="text-center text-white">Вход</h2>
    <form th:method="POST"
          th:action="@{/users/login}"
          th:object="${userLoginBindingModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="form-group">
            <label for="username" class="text-white font-weight-bold"><h4>Потребителско име</h4></label>
            <input  value="username" id="username" th:field="*{username}" th:errorclass="is-invalid"  type="text" min="2" max="50"
                    class="form-control"
                    placeholder= "Потребителско име"/>
            <p class="invalid-feedback errors alert alert-danger">
                Invalid username or password.
            </p>

        </div>
        <div class="form-group">
            <label for="password" class="text-white font-weight-bold"><h4>Парола</h4> </label>
            <input th:field="*{password}" value="password" id="password"  name="password" type="password"  min="2"
                    max="20" class="form-control"
                    placeholder="Парола"/>


        </div>
        <p th:if="${bad_credentials}" class="errors alert alert-danger">
            Невалидно потребителско име или парола!
        </p>


        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg font-weight-bold text-white" value="Submit"/>
                </div>
            </div>
        </div>
    </form>
</div>


</body>
</html>
