<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Clothes shop</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.13.0-rc.3/jquery-ui.js"
            integrity="sha256-tYLuvehjddL4JcVWw1wRMB0oPSz7fKEpdZrIWf3rWNA="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-ui-Slider-Pips/1.11.4/jquery-ui-slider-pips.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>

<body>

<div
        th:replace="fragments/navbar :: navbar">

</div>


<div class="container-fluid align-content-center">
    <section class="nav-2 justify-content-center text-center">
        <ul>
            <li class="list active" data-filter="ALL">Всичко</li>
            <li class="list " data-filter="SHIRT">Тениски</li>
            <li class="list " data-filter="JEANS">Панталони</li>
            <li class="list " data-filter="JACKET">Якета</li>
            <li class="list " data-filter="SWEATSHIRTS">Блузи</li>
            <li class="list " data-filter="HATS">Шапки</li>

            <li>
                <label class="slider-box" for="priceRange">Цена</label>
            </li>
            <li>
                <input class="slider-box" type="text" id="priceRange" readonly>
            </li>
            <li>
                <div id="price-range" class="slider slider-box"></div>
            </li>
            <li class="filter " data-filter="filter">Филтрирай</li>

        </ul>
    </section>


    <h2 class="text-center text-dark mt-5">Оферти</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div th:each="o : ${offers}" th:object="${o}"
             th:class="|offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0 *{category.name()} active  price- *{price}|" class="currentOffer">
            <a th:href="@{/offers/{id}/details(id=*{id})}">
            <div class="card-img-top-wrapper">
                    <img th:src="*{imageUrl}" class="card-img-top" src="/offers/${o.id}/details" alt="Car image">
            </div>
            </a>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div th:text="*{name}" class="card-text"><span>• Name</span></div>
                    <div th:text="*{price}"  class="card-text price"><span>• Price</span></div>
                    <input type="hidden" name="price" id="price-value" th:value="*{price}">
                    <a class="card-link" th:href="@{/offers/{id}/details(id=*{id})}">Details</a>
                </li>
            </ul>



        </div>
    </div>
</div>


<div>
    <footer></footer>
</div>
<script src="/js/offers.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
