<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head">

</head>

<body>

<div
        th:replace="fragments/navbar :: navbar">

</div>


<div class="container-fluid align-content-center">
    <section class="nav-2 justify-content-center text-center">
        <ul>
            <li class="list active" data-filter="ALL">Всичко</li>
            <li class="list " data-filter="SHIRT">Тениски</li>
            <li class="list " data-filter="JEANS">Панталони</li>
            <li class="list " data-filter="JACKET">Якета</li>
            <li class="list " data-filter="SWEATSHIRTS">Блузи</li>
            <li class="list " data-filter="HATS">Шапки</li>

            <li>
                <label class="slider-box" for="priceRange">Цена</label>
            </li>
            <li>
                <input class="slider-box" type="text" id="priceRange" readonly>
            </li>
            <li>
                <div id="price-range" class="slider slider-box"></div>
            </li>
            <li class="filter " data-filter="filter">Филтрирай</li>

        </ul>
    </section>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card p-3 py-4">
                    <div class="text-center"><img src="/images/profile.jpg" width="100" class="rounded-circle"></div>
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0 text-dark font-weight-bold">Потребителско име:</h5>
                        <div class="text-dark font-weight-bold h5" th:text="${user.username}"></div>
                        <h5 class="mt-4 mb-0 text-dark font-weight-bold">Имена:</h5>
                        <div class="text-dark font-weight-bold h5" th:text="|${user.firstName} ${user.lastName}|"></div>
                        <h5 class="mt-2 mb-0 text-dark font-weight-bold">Имейл:</h5>
                        <div class="text-dark font-weight-bold h5" th:text="${user.email}"></div>
                        <h5 class="mt-2 mb-0 text-dark font-weight-bold">Телефонен номер:</h5>
                        <div class="text-dark font-weight-bold h5" th:text="${user.phoneNumber}"></div>
                        <h5 class="mt-2 mb-0 text-dark font-weight-bold">Брой на преглеждания на профила днес</h5>
                        <div class="text-dark font-weight-bold h5" th:text="${user.viewsCount}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center text-dark mt-5">Оферти</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div th:each="o : ${offers}" th:object="${o}"
             th:class="|offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0 *{category.name()}  price-*{price}|">
            <div class="card-img-top-wrapper">
                <img th:src="*{imageUrl}" class="card-img-top" src="/" alt="Car image">
            </div>

            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div th:text="*{name}" class="card-text"><span>• Name</span></div>
                    <div th:text="*{price}"  class="card-text price"><span>• Price</span></div>
                    <input type="hidden" name="price" id="price" th:value="*{price}">

                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" th:href="@{/offers/{id}/details(id=*{id})}">Details</a>
            </div>
        </div>
    </div>
</div>


<div>
    <footer></footer>
</div>
<script src="/js/offers.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
